<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Cây phong non trùm khăn đỏ</string>
		<key>Rating</key>
		<string>7.4</string>
		<key>Description</key>
		<string>Nghề làm báo đã nhiều lần đưa tôi lên vùng Thiên Sơn, lên những bản làng xa xôi của xứ Kirghizia. Có lần vào mùa xuân tôi đang ở tỉnh lỵ Narưn thì có lệnh khẩn gọi tôi về toà báo. Loay hoay thế nào mà đến bến ô tô thì chuyến xe vừa đi được mấy phút. Muốn đi chuyến sau phải đợi khoảng năm tiếng nữa. Không còn cách gì khác hơn là cố đón đường một chiếc xe nào đi ngang để xin ngồi nhờ. Tôi liền ra đứng chực trên đường cái ở ngoại thị trấn.</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/cayphong-1380083017.jpeg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Anh chỉ cần em</string>
		<key>Rating</key>
		<string>8.2</string>
		<key>Description</key>
		<string>Biển người bao la, nhưng bởi vì duyên số, nên hai ta gặp nhau và yêu nhau. Rồi cũng chính tại duyên số chia đôi nên cuộc tình ta đành xa cách. Có người chỉ là một hình bóng lướt qua đời ta, nhưng có người lại ở lại mãi mãi trong sâu thẳm tâm hồn. Rốt cuộc duyên số và tình yêu, hạnh phúc và định mệnh phải lý giải thế nào mới hợp lý đây?
Liêu Duy Tín không ngờ rằng có một ngày anh lại bị đá một cách không thương tiếc. Trước đó anh và đối phương đã có một tháng sống bên nhau vô cùng ngọt ngào ấm áp, đến nỗi anh đã quên mất sự trôi chảy không ngừng của thời gian. Giao kèo của họ đã đến thời hạn cuối cùng. Mọi thứ đều phải chấm dứt, cả duyên số, cả tình cảm. Tất cả quay trở lại nhịp sống thường nhật. Đó là điều mà Bạch Kì Minh – người yêu trong một tháng của anh muốn, và cậu đã làm được.</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/anhchicanem-1380016113.jpeg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Đèn không hắt bóng</string>
		<key>Rating</key>
		<string>7.2</string>
		<key>Description</key>
		<string>Theo bảng trực thì hôm nay là phiên của Kôbasi tiên sinh, nhưng tiên sinh hình như đã đổi phiên cho bác sĩ khác - Nôrikô Simura, lúc bấy giờ đdang ngồi cạnh bàn cặm cụi găm mấy tập bệnh án, trả lời bạn đầu vẫn không ngẩng lên.</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/denko-1380083086.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Những cây cầu ở quận Madison</string>
		<key>Rating</key>
		<string>6.7</string>
		<key>Description</key>
		<string>Ranh giới giữa tình yêu và tội lỗi đôi khi chỉ cách nhau một cách nhìn. Thứ diễm tình ngang trái này của Francesca và Robert Kincaid đã được Robert James Waller thuật lại một cách nhẹ nhàng mà sâu sắc trong cuốn tiểu thuyết kinh điển “Những cây cầu ở quận Madison”. Họ đã vô tình va phải ranh giới lớn nhất là đạo đức và trách nhiệm mà vẫn điên cuồng lao vào yêu nhau.</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/quan-madison-1380083190.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Cuộc nổi loạn ngoạn mục</string>
		<key>Rating</key>
		<string>5.7</string>
		<key>Description</key>
		<string>Cuộc nổi loạn ngoạn mục - câu chuyện hài hước về cuộc nổi loạn của một giáo viên trẻ chống lại hệ thống nội quy lạc hậu, bất công cũng như thói khoa trương sáo rỗng và tính hai mặt ở những con người đứng đầu một trường trung học vùng nông thôn. Cuộc nổi loạn ngoạn mục là tiểu thuyết điển hình nhất về chủ đề này. Tác phẩm bất hủ Botchan được độc giả Nhật Bản thuộc mọi lứa tuổi yêu thích, đúng như Donald Keene đã nhận xét: “Đây là một quyển tiểu thuyết thuộc dòng văn học Nhật Bản hiện đại được đọc nhiều nhất”</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/cuoc-noi-loan-ngoan-muc-1380013640.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Con hủi</string>
		<key>Rating</key>
		<string>7.8</string>
		<key>Description</key>
		<string>Con Hủi là tác phẩm tiêu biểu và nổi tiếng nhất của H. Mniszek. Tác phẩm là một câu chuyện tình thơ mộng và đắm say, trong sáng và mãnh liệt, tươi đẹp nhưng thảm thê của đôi thanh niên tài sắc, cưỡng chống lại những ràng buộc của đẳng cấp quí tộc để bảo vệ hạnh phúc mà họ đã chọn.</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/conhui-1380010813.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Cuộc phiêu lưu trong bóng tối</string>
		<key>Rating</key>
		<string>6.8</string>
		<key>Description</key>
		<string>Những giọt nước mắt chảy dài trên khuôn mặt của cậu bé Tommy 11 tuổi. Bố cậu bé an ủi: “Tommy, con có còn nhớ những gì bố đã nói với con không? Con không bị mù. Con chỉ bị khiếm thị thôi. Bố đã nói với con rằng con có khả năng nhìn thấy nhiều hơn tất cả những đứa trẻ khác. Bố con mình sẽ chứng minh cho chúng thấy điều đó.”</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/cuocphieuluutrongbaongtoi-1380011121.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chú bé thoát nạn đắm tàu</string>
		<key>Rating</key>
		<string>7.7</string>
		<key>Description</key>
		<string>Tiểu thuyết &quot;Chú Bé Thoát Nạn Đắm Tàu&quot; ra mắt bạn đọc Pháp năm 1885. Đây là cuốn tiểu thuyết duy nhất mà Jules Verne, nhà văn Pháp nổi tiếng thế giới về loại tiểu thuyết khoa học viễn tưởng và phiêu lưu mạo hiểm viết chung với một tác giả khác. Và đồng tác giả của Jules Verne là André Laurie, nhà văn, nhà chính luận nổi tiếng, người tham gia tích cực vào Công xã Paris.</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/chube-1380011183.jpeg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Trăng non</string>
		<key>Rating</key>
		<string>8.8</string>
		<key>Description</key>
		<string>Trăng non (tên gốc tiếng Anh: New Moon) là một cuốn tiểu thuyết giả tưởng-lãng mạn dành cho lứa tuổi thanh thiếu niên của nhà văn nữ Stephenie Meyer. Đây là cuốn tiểu thuyết thứ hai của Meyer trong bộ truyện Chạng vạng. Cuốn này, không giống như cuốn trước, nói về sự mất mát tình yêu đích thực[1]. Nó được xuất bản lần đầu tiên ở dạng bìa cứng vào năm 2006. Tại Việt Nam, bản tiếng Việt do dịch giả Tịnh Thủy dịch và nhà xuất bản Trẻ mua bản quyền phát hành vào năm 2008</string>
		<key>Image</key>
		<string>http://clip.bhmedia.vn/uploads/audio/newmoon-1380013170.jpg</string>
	</dict>
</array>
</plist>
